
.sidebar-container{
    background-color: #263238;
    display: flex;
    flex-direction: column;
    flex:0.2;
    place-items: flex-start;
    min-width: 250px;
    
    
}


.sidebar-container > div{
    margin-left:30px;
}
