env
./env
webo_backend\env
webo_backend\db.sqlite3
play.py
./play.py
webo_backend\webo_app\migrations
webo_backend\webo_app\read_dataset\__pycache__
webo_backend\webo_app\__pycache__
*.pyc
webo_frontend\node_modules