.visualization-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.main-visualization {
  flex: 1 0 65%;
  background-color: #faf9f9;
  display: flex;
  overflow-y: scroll;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.main-visualization > * {
  flex-flow: wrap;
  flex-wrap: wrap;
  margin: 10px;
  width: 40%;
  height: 450px;
  background-color: #fff;
  box-shadow: 1px 3px 3px #999595;
  justify-self: center;
}

.main-visualization > *:hover {
  border: 3.5px solid #263238;
  border-radius: 10px;
}

.chart > h3 {
  background-color: #263238;
  color: #fff;
  margin: 0;
  height: 35px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 500;
}

.main-visualization::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-visualization {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
