
.general-component{
    display: flex;
    height: 100vh;
    background-color:#faf9f9;
    
}

.main-general{
    flex:0.7;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    
}

.main-general > *{
    width:90%;
    align-self: center;
    margin-top:30px;
    /* margin:auto; */
}

.main-general::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.main-general{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.search-field{
    display:flex;
    flex-direction:row;
    place-items: center;
    justify-self: center;
    margin-top:7%;
}

.dropdown{
    flex:1 0 100px;
    height:40px;
    border:0.4px solid rgb(158, 158, 158);
    border-radius: 3px;
}

.search-button{
    flex:0.1 0 20px;
    height:40px;
    margin-left: 10px;
    background-color:white;
    border:0.4px solid rgb(158, 158, 158);
    border-radius: 3px;
}

.cards{
    /* background-color:#fff; */
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-flow: wrap;
    /* box-shadow: 1px 3px 3px #999595; */
    height:30%;
    border-radius: 5px;
    align-items: center;

}


.line-chart{
    background-color:#fff;

    box-shadow: 1px 3px 7px #8888;
    height:50%;
    border-radius: 5px;
    align-items: center;
 
}
.line-chart > h3{
    background-color:#263238;
    color:#fff;
    margin:0;
    height:35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight:300;
}
